click==7.1.2
decorator==4.4.2
future==0.18.2
geocoder==1.38.1
geographiclib==1.50
geopy==1.22.0
pip==21.1
pyTelegramBotAPI==3.6.7
ratelim==0.1.6
requests==2.31.0
setuptools==65.5.1
six==1.14.0
telebot==0.0.3